
header{
  height: 30px;
  background: linear-gradient(90deg, #2a8d1f  1.18%, #A626D3 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 20px;
  gap: 6.69px;
  
}
header>img{
  position: relative;
width: 31.31px;
height: 26.22px;

}
header>h1{
  position: relative;
width: auto;
height: 24px;


font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 20.7482px;
line-height: 24px;
letter-spacing: -0.1em;

color: #FFFFFF;

}
.gen{
  padding: 36px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.gen-inputs{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  
}
.gen-inputs>.inputed{
  box-sizing: border-box;
position: relative;
left: 1px;
width: 50%;
height: 100px;
border: 1px solid #D5D4D8;
border-radius: 5px;
}
.inputed2{
  font-size: small;
  padding: .5em;
  height: 2em;
}
.gen--button{
  width: 477px;
height: 40px;
left: 36px;
top: 151px;
cursor: pointer;
background: linear-gradient(90.41deg, #2a8d1f 1.14%, #A818DA 100%);
border-radius: 5px;
color: white;
border: 1px solid #711F8D;
}
.meme-images{
  position: relative;
width: 477px;
height: 500px;
z.js: 1;
border-radius: 2px;
}
.text-img{
  position: relative;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-repeat: no-repeat;
  background-size: cover; */
}

.text-img> p{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
height: 80%;
font-style: normal;
word-spacing: 2px;
font-size: 30px;
line-height: 39px;
z.js: 2;
}
.download__icon{
  margin-left: 1em;
  background-color: white;
  width: fit-content;
  transform: translateY(-250%);
  z.js: 2;
  color: green;
  border-radius: .2em;
}